* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --varela-round: "Varela Round", sans-serif;
  --la-belle: "La Belle Aurore", cursive;
}
.cursor-container {
  display: none;
}
.outer-cursor {
  width: 40px;
  height: 40px;
  border: 2px dashed #4943c0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  animation: rotation 3s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.animate__animated.animate__fadeInRight,
.animate__animated.animate__fadeInLeft {
  animation-delay: 3s;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff1a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4943c0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.inner-cursor {
  width: 7px;
  height: 7px;
  background-color: white;
  position: absolute;
  border-radius: 100px;
}
html {
  font-family: var(--varela-round);
}

body {
  background-color: black;
  overflow-x: hidden;
}
.btn {
  border: unset;
  background-color: transparent;
  color: white;
  margin: 20px 0;
  font-family: var(--varela-round);
  font-size: 1.3rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: all ease-in-out 0.2s;
}
.active {
  border-bottom: 2px solid #4943c0;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  top: 0;
  left: -100vw;
  background-color: rgba(0, 0, 0, 0.866);
  color: white;
  height: 100vh;
  z-index: 10;
  transition: all ease-in-out 1s;
  backdrop-filter: blur(20px);
  visibility: hidden;
}
.show-menu {
  visibility: unset;
  left: 0;
  position: fixed;
}

.menu .btn:hover {
  color: #4943c0;
  cursor: pointer;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
}
.peace-sign {
  width: 60%;

  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#peace {
  max-height: 80vh;
  max-width: 150px;
}
nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  top: 25px;
  width: 90%;
  z-index: 40;
}
nav img {
  width: 2rem;
  visibility: hidden;
}
.bars {
  color: white;
  font-size: 1.6rem;
  z-index: 11;
}
.hide-bars {
  display: none;
}
.times {
  color: white;
  font-size: 1.6rem;
  z-index: 11;
  display: none;
}
.show-times {
  display: unset;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.greetings {
  color: white;
  margin-bottom: 50px;
  font-weight: normal;
  position: relative;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.doodles-filter {
  z-index: -8;
  background-color: rgba(0, 0, 0, 0.55);
  height: 100vh;
  width: 100vw;
  position: fixed;
  backdrop-filter: blur(6px);
}
.doodles {
  position: relative;
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -10;
}

#doodle2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
}
#doodle3 {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
}
#doodle4 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
}
#doodle5 {
  position: absolute;
  left: -30px;
  bottom: 40%;
  width: 40%;
}
.visit-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.github {
  font-size: 1.4rem;
  color: white;
}
.hello {
  letter-spacing: 2px;
  font-size: 3rem;
  position: absolute;
  animation: word 27s infinite ease-in-out;
  margin-bottom: 50px;
  text-shadow: 4px 4px 8px #4943c048;
}
.hello:nth-child(1) {
  animation-delay: -27s;
}
.hello:nth-child(2) {
  animation-delay: -23s;
}
.hello:nth-child(3) {
  animation-delay: -19s;
}
.hello:nth-child(4) {
  animation-delay: -15s;
}
.hello:nth-child(5) {
  animation-delay: -11s;
}
.hello:nth-child(6) {
  animation-delay: -7s;
}
.hello:nth-child(7) {
  animation-delay: -3s;
}
@keyframes word {
  0%,
  5%,
  100% {
    filter: blur(0px);
    opacity: 1;
  }
  20%,
  80% {
    filter: blur(35px);
    opacity: 0;
  }
}
.arrow-down {
  color: white;

  font-weight: 300;
  position: absolute;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.arrow-down p {
  font-size: 10px !important;
  transform: rotate(90deg);
  margin-bottom: 30px;
}
.arrow-down-right {
  right: 0;
}
.intro-container {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  z-index: 2;
}
#main-heading {
  color: #4943c0;
  font-weight: 700;
  margin-bottom: 3px;
  font-size: 1.8rem;
  position: relative;
}
#main-heading::before {
  content: "</h1>";
  position: absolute;
  left: -10px;
  font-family: var(--la-belle);
  top: -15px;
  color: rgba(128, 128, 128, 0.55);
  font-size: 0.8rem;
  font-weight: normal;
}
#main-heading::after {
  content: unset;
}

.intro-text h1 {
  color: white;
  font-size: 2.4rem;
  position: relative;

  margin-bottom: 20px;
}

.intro-text h1::after {
  content: "</h1>";
  position: absolute;
  left: -10px;
  font-family: var(--la-belle);
  bottom: -15px;
  color: rgba(128, 128, 128, 0.55);
  font-size: 0.8rem;
  font-weight: normal;
}
.intro-text h1::after {
  content: "</h1>";
  position: absolute;
  left: -10px;
  font-family: var(--la-belle);
  bottom: -15px;
  color: rgba(128, 128, 128, 0.55);
  font-size: 0.8rem;
  font-weight: normal;
}
.intro-text p {
  color: white;
  font-weight: normal;
  font-size: 0.7rem;
  margin-bottom: 10px;
  margin-top: 20px;
  position: relative;
}
.intro-text p::before {
  content: "</p>";
  position: absolute;
  left: -10px;
  font-family: var(--la-belle);
  top: -15px;
  color: rgba(128, 128, 128, 0.55);
  font-size: 0.8rem;
  font-weight: normal;
}
.intro-text p::after {
  content: "</p>";
  position: absolute;
  left: -10px;
  font-family: var(--la-belle);
  bottom: -15px;
  color: rgba(128, 128, 128, 0.55);
  font-size: 0.8rem;
  font-weight: normal;
}
.saly {
  width: 80%;
  z-index: inherit;
}
.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  padding-bottom: 20px;
  position: relative;
}

.about-me h1 {
  color: #4943c0;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  position: relative;
}

.about-me p {
  color: white;
  font-size: 0.9rem;
  text-align: center;
  word-spacing: 2px;
  line-height: 20px;
  position: relative;
}

#p2 {
  margin-top: 10px;
  margin-bottom: 40px;
  font-weight: normal;
  word-spacing: 2px;
}

.saly13 {
  width: 70%;
  z-index: inherit;
}

.skillset-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: 60px;
  margin-top: 40px;
}
.txt {
  color: #4943c0;
  opacity: 0.4;
  font-size: 0.7rem;
  position: absolute;
}
.txt-photoshop {
  left: 30px;
  top: 0;
}
.txt-figma {
  right: 30px;
  top: 0;
}
.txt-illustrator {
  right: 40px;
  bottom: -25px;
}
.txt-github {
  left: 40px;
  bottom: -25px;
}

.skillset-container h1 {
  color: #4943c0;
  font-size: 1rem;
}
.skillsets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 5px;
}

.skill {
  color: white;
  font-size: 2.2rem;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 30px;
  padding-top: 40px;
  position: relative;
  z-index: 2;
}

.projects-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.projects-header h1 {
  color: #4943c0;
  position: relative;
  text-align: center;
}

.projects-header p {
  color: white;
  font-size: 0.9rem;
  margin-top: 10px;
  position: relative;
}
.my-project {
  color: white;

  margin-bottom: 40px;
  width: 85%;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 3px 20px #fcfcfc3d;
  padding-bottom: 10px;
  padding-bottom: unset;
}
.my-project img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.project-details {
  width: 93%;
  margin-top: 10px;
}
.live {
  color: #4943c0;
  text-decoration: none;
  font-size: 0.9rem;
}
.project-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}
#api {
  border-radius: 3px;
  border: 2px solid #4943c0;
  color: #4943c0;
  padding: 0 5px;
  font-size: 0.7rem;
  font-weight: 800;
}
#project-description {
  margin-bottom: 10px;
  font-size: 0.9rem;
  word-spacing: 1px;
  line-height: 26px;
}
#languages {
  margin: 10px 0;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.571);
}
.about2 h1 {
  color: #4943c0;
}
.about2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;

  z-index: 2;
}
.about2 p {
  color: white;
}
.others {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
  margin-bottom: 20px;
}
.others h1 {
  margin-bottom: 20px;
  position: relative;
}

.others p {
  margin-bottom: 10px;
  font-size: 0.9rem;
  line-height: 20px;
  word-spacing: 2px;
  position: relative;
}

.others p span {
  color: #4943c0;
  font-size: 1rem;
}
.contact {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}
#contact-me {
  margin-top: 40px;
}
.contact h1 {
  margin-bottom: 20px;
  position: relative;
}

.contact p {
  margin-bottom: 10px;
  font-size: 0.9rem;
  line-height: 20px;
  word-spacing: 2px;
  position: relative;
}

.contact p span {
  font-size: 1rem;
}
.socials-container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  color: white;
  font-size: 1.2rem;
  margin-top: 20px;
  position: relative;
}

.socials-container a {
  color: white;
}
.party {
  width: 60%;
  z-index: 2;
}
footer {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 2;
  margin-top: 20px;
}
footer p {
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 0.9rem;
  line-height: 20px;
  word-spacing: 2px;
  width: 90%;
  position: relative;
}

footer img {
  width: 100%;
  z-index: inherit;
}
footer h1 {
  color: #4943c0;
  font-size: 1.5rem;
}
.email-me a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 10px;
}
.email-me {
  line-height: 30px !important;
}
#creator {
  color: rgba(255, 255, 255, 0.503);
}
.all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.full-intro {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-img {
  display: none;
}
@media screen and (min-width: 520px) {
  #doodle2 {
    position: absolute;
    left: 60px;
    top: 0;
    width: 70px;
  }
  #doodle3 {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
  }
  #doodle4 {
    position: absolute;
    right: 90px;
    bottom: 0;
    width: 20%;
  }
  #doodle5 {
    position: absolute;
    left: 80px;
    bottom: 40%;
    width: 20%;
  }
  .intro-text h1 {
    font-size: 3rem;
  }
  .intro-text p {
    font-size: 1rem;
  }
  #main-heading {
    font-size: 2.4rem;
  }
  .my-project {
    width: 70%;
  }
  .skill {
    font-size: 3.3rem;
    margin-top: 10px;
  }
  footer img {
    width: 80%;
  }
}
@media screen and (min-width: 700px) {
  .full-intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
  }
  .intro-container {
    padding-top: 0;
  }
  .saly {
    width: 20rem;
  }
  .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .saly13 {
    grid-column: 1;
    grid-row: 1;
    width: 20rem;
  }
  .about-me {
    grid-column: 2;
    align-items: flex-start;
  }
  .about-me p {
    text-align: left;
    font-size: 0.9rem;
  }
  .about-me h1 {
    text-align: left;
  }
  .techy {
    margin-top: 0 !important;
  }
  #p2 {
    margin-bottom: 28px;
  }
  .times {
    display: none;
  }
  .bars {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    position: fixed;
    width: 50%;
    top: 13px;
    left: unset;

    color: white;
    height: unset;
    z-index: 50;
    transition: all ease-in-out 1s;
    backdrop-filter: blur(5px);
    visibility: unset;
    border-radius: 30px;
  }
  .btn {
    border: unset;
    background-color: transparent;
    color: white;
    margin: 20px 0;
    font-family: var(--varela-round);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  .my-project {
    width: 90%;
  }
  .all-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .skillset-container {
    margin-top: 20px;
  }
  .others {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: left;
  }
  .others-details {
    align-items: flex-start;
    width: 80%;
  }
  .party {
    width: 15rem;
    justify-self: left;
  }
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .contact-img {
    display: unset;
    width: 20rem;
    justify-self: left;
  }
  .contact-container {
    align-items: flex-start;
    text-align: left;
    width: 90%;
  }
  footer {
    margin-top: 0;
  }
  footer img {
    width: 60%;
  }
}
@media screen and (min-width: 1100px) {
  .cursor-container {
    display: unset;
  }
  .saly {
    width: 25rem;
  }
  .contact-img {
    width: 22rem;
  }
  .party {
    width: 20rem;
  }
  .saly13 {
    width: 25rem;
  }

  .hello {
    font-size: 5rem;
    margin-bottom: 90px;
  }
  #name {
    font-size: 6rem;
  }
  #main-heading {
    font-size: 3.5rem;
  }
  .full-intro {
    width: 80%;
  }
  .my-project {
    position: relative;
    overflow: hidden;
    transition: all ease-in-out 0.6s;
    height: 200px;
  }

  .my-project img {
    transition: all ease-in-out 0.6s;
    height: 100%;
  }
  .my-project:hover {
    transform: scale(1.2);
  }
  .my-project:hover > .project-details {
    left: 0;
    transform: scale(0.7);
  }
  .my-project:hover > img {
    opacity: 0.03;
  }
  .project-details {
    position: absolute;
    left: -100%;
    transition: all ease-in-out 0.6s;
    width: 100%;
    margin: 0;
  }
  .about-container {
    width: 80%;
  }
  .all-projects {
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
  }
  .skillsets {
    width: 80%;
  }
  .others {
    width: 80%;
  }
  .contact {
    width: 80%;
  }
  #thanks {
    width: 50%;
  }
  footer img {
    width: 30%;
  }
  .about-me p {
    font-size: 1.1rem;
    line-height: 30px;
  }
  .about-me h1 {
    font-size: 2rem;
  }
  .projects-header h1 {
    font-size: 2rem;
  }
  .projects-header p {
    font-size: 1.1rem;
  }
  .others-details h1 {
    font-size: 2rem;
  }
  .others-details p {
    font-size: 1.1rem;
    line-height: 30px;
  }
  .contact-container h1 {
    font-size: 2rem;
  }
  .contact-container p {
    font-size: 1.1rem;
    line-height: 30px;
  }
  .socials-container {
    font-size: 1.6rem;
  }
  #thanks {
    font-size: 1.1rem;
    line-height: 30px;
  }
  #project-description {
    margin-bottom: 10px;
    font-size: 1rem;
    word-spacing: 1px;
    line-height: 26px;
  }
  .live {
    color: #4943c0;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    transition: all ease-in-out 0.3s;
  }
  .live:hover {
    color: #fff;
  }
  .github {
    font-size: 2rem;
    transition: all ease-in-out 0.3s;
  }
  .github:hover {
    transform: scale(1.2);
  }
  #languages {
    font-size: 0.8rem;
  }
  #doodle2 {
    position: absolute;
    left: 60px;
    top: 0;
    width: 70px;
  }
  #doodle3 {
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
  }
  #doodle4 {
    position: absolute;
    right: 90px;
    bottom: 0;
    width: 10%;
  }
  #doodle5 {
    position: absolute;
    left: 80px;
    bottom: 40%;
    width: 10%;
  }
}
